
$page-max-width:						960px;

$brand-bg-color:						#f5f5f5;
$sidebar-bg-color:						#354052;
$sidebar-heading-color:					#5F6D86;
$sidebar-text-color:					#A0ABBF;

$header-bg-color:						#2f2f2f;
$header-font-size :    					16;

$base-font :							"Montserrat-Light", sans-serif;
$base-font-size :    					14;
$base-line-height :  					2.2rem!default;
