﻿@model HotelManager.Models.Providers.ExpediaHotel

@using HotelManager.DAL
@using HotelManager.Models
@using HotelManager.Helpers;

@{
    ViewBag.Title = "Details";
}


@Html.ActionLink("Flag for review", "FlagHotelForReview", "Expedia", new { expediaID = Model.ID }, null) | 
@Html.ActionLink("Add as new", "AddNewToMasterList", "Expedia", new { expediaID = Model.ID }, null)


@{Html.RenderPartial("~/Views/Partials/Providers/ProviderHotelDetails.cshtml", Model);}


@{

            HotelManagerContext context = new HotelManagerContext();
            List<HotelManager.Models.Accommodation> accommodation = new List<HotelManager.Models.Accommodation>();

           
            var matches = 0;
            foreach (var item in context.Accommodations)
            {
                accommodation.Add(item);
            }

           
                List<Accommodation> temp = new List<Accommodation>();

                foreach (var item in accommodation.Where(a => a.PostalCode == Model.PostalCode))
                {
                  
                    temp.Add(item);
                }

                if (temp.Count > 0)
                {
                    matches ++;
                    <ul>
                       
                       
                            @foreach (var item in temp)
                            { 
                                <li>
                                @item.ID
                                :
                                @item.AccommodationName
                                 :
                                @item.AddressLine1
                                ,
                                @item.TownName
                                 ,
                                @item.PostalCode
                                ,
                                @Html.ActionLink("View", "Details", "Accommodations", new { slug = presentationHelper.Slugify(item.PageSlug) }, null)
                                     | 
                                @Html.ActionLink("Assign to this accommodation", "AddToMasterList", "Expedia", new { accommodationID = item.ID, expediaID = Model.ID  }, null)
                                </li>
                            }
                        
                    </ul>
                }


            
    }

    @matches possible matches found

