﻿
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<ul>
    <li>@Html.ActionLink("View Expedia orphans", "ListOrphanedHotels")</li>
    <li>@Html.ActionLink("View Expedia orphans With Postcode Matches", "ListOrphanedHotelsWithPostcodeMatch")</li>
    <li>@Html.ActionLink("View Expedia orphans flagged for review", "ListOrphanedHotelsFlaggedForReview")</li>
</ul>
