﻿@model List<HotelManager.Models.Providers.ExpediaHotel>

@{
    ViewBag.Title = "ListOrphanedHotels";
}

<h2>ListOrphanedHotels (@Model.Count)</h2>

<ul>

    @{

        foreach (var item in Model)
        {
            <li>@Html.ActionLink(item.HotelName, "Details", "Expedia", new { id = item.ProviderHotelID }, null)</li>
        }
    }
</ul>