﻿@using HotelManager.Helpers.Providers;

<aside class="m-Sidebar">
    <div class="Sidebar-items">
        <h2 class="Sidebar-heading">Initialise</h2>
        <ul class="Sidebar-list">
            <li class="Sidebar-item"><a href="/Sletoh/ImportFile" class="Sidebar-target">Import Sletoh</a></li>
            <li class="Sidebar-item"><a href="/Expedia/ImportFile" class="Sidebar-target">Import Expedia</a></li>
            <li class="Sidebar-item"><a href="/MatchHotels/Initialise" class="Sidebar-target">Initialise</a></li>
            <li class="Sidebar-item"><a href="/MatchHotels/MatchExpedia" class="Sidebar-target">Match Expedia</a></li>
        </ul>
    </div>

    <div class="Sidebar-items">
        <h2 class="Sidebar-heading">Providers</h2>
        <ul class="Sidebar-list">
            <li class="Sidebar-item"><a href="/Expedia" class="Sidebar-target">Expedia</a></li>
        </ul>
    </div>

    <div class="Sidebar-items">
        <h2 class="Sidebar-heading">Meta</h2>
        <ul class="Sidebar-list">
            <li class="Sidebar-item"><a href="/Facilities" class="Sidebar-target">Facilities</a></li>
        </ul>
    </div>

    @ExpediaHelpers.GetOrphanedHotelsCount() Expedia orphans
</aside>
