﻿<header class="m-SiteHeader">
    <nav class="SiteNavigation u-cf">

        <ul class="SiteNavigation-links">
            <li class="SiteNavigation-linkItem">@Html.ActionLink("Dashboard", "Index", "Home", null, new { @class = "SiteNavigation-target" })</li>
            <li class="SiteNavigation-linkItem">@Html.ActionLink("Locations", "Index", "Locations", null, new { @class = "SiteNavigation-target" })</li>
        </ul>
    </nav>
    <nav class="UserNavigation">
        @Html.Partial("_LoginPartial")
    </nav>

</header>
