﻿@model HotelManager.Models.Providers.ProviderHotel
<div class="t-Item">

    <div class="m-ItemDetails">
        <div class="ItemDetailList">
            <h3 class="ItemDetailList-heading"></h3>
            <dl class="ItemDetailList-list u-cf">
                <dt class="ItemDetailList-itemName">@Html.DisplayNameFor(model => model.ProviderHotelID)</dt>
                <dd class="ItemDetailList-itemValue">@Html.DisplayFor(model => model.ProviderHotelID)</dd>
                <dt class="ItemDetailList-itemName">@Html.DisplayNameFor(model => model.HotelName)</dt>
                <dd class="ItemDetailList-itemValue">@Html.DisplayFor(model => model.HotelName)</dd>

                <dt class="ItemDetailList-itemName">@Html.DisplayNameFor(model => model.AddressLine1)</dt>
                <dd class="ItemDetailList-itemValue">@Html.DisplayFor(model => model.AddressLine1)</dd>
                <dt class="ItemDetailList-itemName">@Html.DisplayNameFor(model => model.AddressLine2)</dt>
                <dd class="ItemDetailList-itemValue">@Html.DisplayFor(model => model.AddressLine2)</dd>
                <dt class="ItemDetailList-itemName">@Html.DisplayNameFor(model => model.TownName)</dt>
                <dd class="ItemDetailList-itemValue">@Html.DisplayFor(model => model.TownName)</dd>
                <dt class="ItemDetailList-itemName">@Html.DisplayNameFor(model => model.PostalCode)</dt>
                <dd class="ItemDetailList-itemValue">@Html.DisplayFor(model => model.PostalCode)</dd>
                <dt class="ItemDetailList-itemName">@Html.DisplayNameFor(model => model.CountryName)</dt>
                <dd class="ItemDetailList-itemValue">@Html.DisplayFor(model => model.CountryName)</dd>
            </dl>
        </div>


        <div class="ItemDetailList">
            <h3 class="ItemDetailList-heading"></h3>
            <dl class="ItemDetailList-list u-cf">
                <dt class="ItemDetailList-itemName">@Html.DisplayNameFor(model => model.StarRating)</dt>
                <dd class="ItemDetailList-itemValue">@Html.DisplayFor(model => model.StarRating)</dd>
                <dt class="ItemDetailList-itemName">@Html.DisplayNameFor(model => model.Latitude)</dt>
                <dd class="ItemDetailList-itemValue">@Html.DisplayFor(model => model.Latitude)</dd>

                <dt class="ItemDetailList-itemName">@Html.DisplayNameFor(model => model.Longitude)</dt>
                <dd class="ItemDetailList-itemValue">@Html.DisplayFor(model => model.Longitude)</dd>
                <dt class="ItemDetailList-itemName">@Html.DisplayNameFor(model => model.NearestAirportCode)</dt>
                <dd class="ItemDetailList-itemValue">@Html.DisplayFor(model => model.NearestAirportCode)</dd>
                <dt class="ItemDetailList-itemName">@Html.DisplayNameFor(model => model.ParentChainID)</dt>
                <dd class="ItemDetailList-itemValue">@Html.DisplayFor(model => model.ParentChainID)</dd>
                <dt class="ItemDetailList-itemName">@Html.DisplayNameFor(model => model.HighRate)</dt>
                <dd class="ItemDetailList-itemValue">@Html.DisplayFor(model => model.HighRate)</dd>
                <dt class="ItemDetailList-itemName">@Html.DisplayNameFor(model => model.LowRate)</dt>
                <dd class="ItemDetailList-itemValue">@Html.DisplayFor(model => model.LowRate)</dd>
                <dt class="ItemDetailList-itemName">@Html.DisplayNameFor(model => model.CheckInTime)</dt>
                <dd class="ItemDetailList-itemValue">@Html.DisplayFor(model => model.CheckInTime)</dd>
                <dt class="ItemDetailList-itemName">@Html.DisplayNameFor(model => model.CheckOutTime)</dt>
                <dd class="ItemDetailList-itemValue">@Html.DisplayFor(model => model.CheckOutTime)</dd>
            </dl>
        </div>

        <div class="ItemDetailList">
            <h3 class="ItemDetailList-heading"></h3>
            <dl class="ItemDetailList-list u-cf">
                <dt class="ItemDetailList-itemName">@Html.DisplayNameFor(model => model.TownID)</dt>
                <dd class="ItemDetailList-itemValue">@Html.DisplayFor(model => model.TownID)</dd>
                <dt class="ItemDetailList-itemName">@Html.DisplayNameFor(model => model.FlaggedForReview)</dt>
                <dd class="ItemDetailList-itemValue">@Html.DisplayFor(model => model.FlaggedForReview)</dd>
                <dt class="ItemDetailList-itemName">@Html.DisplayNameFor(model => model.InMasterList)</dt>
                <dd class="ItemDetailList-itemValue">@Html.DisplayFor(model => model.InMasterList)</dd>
            </dl>
        </div>

    </div>

</div>

