﻿@model HotelManager.Models.Town
@using HotelManager.Helpers;

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Town</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Region.Slug)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Region.Slug)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Slug)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Slug)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RegionSlug)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RegionSlug)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RegionName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RegionName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TownName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TownName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TownSummary)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TownSummary)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TownDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TownDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SletohID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SletohID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Show)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Show)
        </dd>

    </dl>

    @{
        if (Model.Accommodations.Count > 0)
        {
            <ul>
                @{
            foreach (var item in Model.Accommodations)
            {
                <li>


                    @{
                        if (ViewContext.HttpContext.User.IsInRole("canEditAll"))
                        {
                            @Html.ActionLink(item.AccommodationName, "Details", "Accommodations", new { slug = presentationHelper.Slugify(item.PageSlug) }, null)
                        }
                        else
                        {
                            @item.AccommodationName
                        }
                    }
                </li>
            }
}
            </ul>
        }

    }
</div>
<p>
@{

    if (ViewContext.HttpContext.User.IsInRole("canEditAll"))
    {
        @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) 
    }
}
</p>
