﻿@model HotelManager.ViewModels.vmSletohImport

@{
    ViewBag.Title = "Sletoh";
}


<h1>Sletoh</h1>

<h2>Processed</h2>
@Model.ProcessedCount
<br />

<h2>Imported</h2>
@Model.SletohHotels.Count
<br />

@{
    if (@Model.ErrorMessages.Count > 0)
    {
        @:<h2>Errors</h2>
        foreach (var item in Model.ErrorMessages)
        {
            @item
            <br />
        }
    }
}

@{
    if (@Model.Fails.Count > 0)
    {
        @:<h2>Fails</h2>
        @Model.Fails.Count;
                          foreach (var item in Model.Fails)
                          {
                            @item
                            <br />
                          }

    }
}