﻿@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
    {
    @Html.AntiForgeryToken()

    <ul class="SiteNavigation-links">
        <li class="SiteNavigation-linkItem">
            @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage", @class = "UserNavigation-target" })
        </li>
        <li class="SiteNavigation-linkItem"><a href="javascript:document.getElementById('logoutForm').submit()" class="UserNavigation-target">Log off</a></li>
    </ul>
    }
}
else
{
    <ul class="SiteNavigation-links">
        <li class="SiteNavigation-linkItem">@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink", @class = "UserNavigation-target" })</li>
        <li class="SiteNavigation-linkItem">@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "UserNavigation-target" })</li>
    </ul>
}
