﻿@model HotelManager.Models.Location
@using HotelManager.Helpers;

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Location</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Slug)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Slug)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LocationName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LocationName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LocationSearchString)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LocationSearchString)
        </dd>

    </dl>
</div>



@{
    if (Model.Regions.Count > 0)
    {
        <ul>
            @{
        foreach (var item in Model.Regions)
        {
            <li>@Html.ActionLink(item.RegionName, "Details", "Regions", new { slug = presentationHelper.Slugify(item.Slug) }, null)</li>
        }
            }
        </ul>
    }

}


<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
