﻿@model HotelManager.Models.Tasks.AccommodationTask
@using HotelManager.Models
@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>AccommodationTask</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Accommodation.AccommodationName)
        </dt>

        <dd>
            @Model.Accommodation.AccommodationName
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.status)
        </dt>

        <dd>
            @Constants.TaskStatusList[Model.status]
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.priority)
        </dt>

        <dd>
            @Constants.TaskPriorityList[Model.priority]
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
