﻿



@{
    ViewBag.Title = "Index";
}





    @*{

            HotelManagerContext context = new HotelManagerContext();


            List<HotelManager.Models.Providers.ExpediaHotel> expediaHotels = new List<HotelManager.Models.Providers.ExpediaHotel>();
            List<HotelManager.Models.Accommodation> accommodation = new List<HotelManager.Models.Accommodation>();
            var matches = 0;
            foreach (var item in context.Accommodations)
            {
                accommodation.Add(item);
            }

            //var matches = context.ExpediaHotels.Where(e => e.in_master_list == false);
            foreach (var expedia in context.ExpediaHotels.Where(e => e.InMasterList == false))
            {
                List<Accommodation> temp = new List<Accommodation>();

                foreach (var item in accommodation.Where(a => a.PostalCode == expedia.PostalCode))
                {
                    temp.Add(item);
                }

                if (temp.Count > 0)
                {
                    matches ++;
                    <dl>
                        <dt>
                            (@expedia.ProviderHotelID) <br />
                            @expedia.HotelName : @expedia.AddressLine1, @expedia.TownName, @expedia.PostalCode
                        </dt>
                        <dd>
                            @foreach (var item in temp)
                            {
                                @item.AccommodationName
                                @: :
                                @item.AddressLine1
                                @: ,
                                @item.TownName
                                @: ,
                                @item.PostalCode
                                @: ,
                                @Html.ActionLink("View", "Details", "Accommodations", new { slug = presentationHelper.Slugify(item.PageSlug) }, null)
                                <br />
                            }
                        </dd>
                    </dl>
                }


            }
    }

    @matches possible matches found
    *@