.m-ItemInfo
{
	padding : 10px 20px;
	background-color : #fdfdfd;


	.ItemInfo-name 
	{
		float:left;
		margin : 0;

	}
	.ItemInfo-attributes
	{
		float:left;
	}

	.ItemInfo-attribute
	{padding-left : 10px;}
	
}