.m-ItemDetails
{
	background-color : #fff;
	padding:10px 20px;
}


.ItemDetailList
{
	padding:10px;
	margin : 20px 0;
	background-color : $brand-bg-color;
}
.ItemDetailList-itemName 
{
	clear:left;
	width : 10em;
	float:left;
}

.ItemDetailList-itemValue 
{
	float:left;
}