.m-Sidebar
{
	width:								15%;
	float:								left;
	background-color:					$sidebar-bg-color;

	.Sidebar-heading
	{
		@include font-size(18);
		margin:							15px 0 10px 0;
		text-transform:					uppercase;
		color:							$sidebar-heading-color;
	}
 	.Sidebar-items
 	{
 		padding:0 20px;
 		border-top:						1px solid #3D495D;
 		border-bottom:					1px solid #303A4A;
 	}

 	.Sidebar-list
 	{
 		margin-top:						0;
 		list-style-type: 				none;
 		padding-left:					0;
 	}
	.Sidebar-target 
	{ 
		color:							$sidebar-text-color;
		text-transform:					uppercase;
		text-decoration:				none;
		font-weight:					bold;

		&:hover { text-decoration : underline;}
	}
}