.m-SiteHeader
{
	@include font-size($header-font-size);
	display:							flex;
	justify-content:					space-between;
	background-color: $header-bg-color;
	padding : 10px;

	.SiteNavigation-links
	{
		display:						block;
		float:							left;
		padding:						0;
		margin:							0;
	}
	
	.SiteNavigation-linkItem
	{
		display:						block;
		float:							left;
		margin-left :					1rem;
	}

	.SiteNavigation-target
	{
		color:							#fff;
		text-decoration:				none;

		&:hover { text-decoration : underline;}
	}

}