﻿@model HotelManager.Models.Region
@using HotelManager.Helpers;
@{
    ViewBag.Title = "Details";
}

<h2>@Model.RegionName</h2>

<div>
    <p>
        @{
            if (ViewContext.HttpContext.User.IsInRole("canEditAll"))
            {
                @Html.ActionLink("Edit", "Edit", new { id = Model.ID })
            }
        }
    </p>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Slug)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Slug)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RegionName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RegionName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RegionSummary)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RegionSummary)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RegionDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RegionDescription)
        </dd>

    </dl>


    @{
        if (Model.Towns.Count > 0)
        {
            <ul>
                @{
            foreach (var item in Model.Towns)
            {
                <li>@Html.ActionLink(item.TownName, "Details", "Towns", new { slug = presentationHelper.Slugify(item.Slug) }, null)</li>
            }
                }
            </ul>
        }

    }

</div>

