﻿@model IEnumerable<HotelManager.Models.Region>
@using HotelManager.Helpers;
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @{
        if (ViewContext.HttpContext.User.IsInRole("canEditAll"))
        {
            @Html.ActionLink("Create New Region", "Create")
        }
    }

</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Slug)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RegionName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RegionSummary)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RegionDescription)
        </th>
        <th></th>
    </tr>

@{
    foreach (var item in Model) 
    {
    <tr>
        <td>
            @Html.ActionLink(item.RegionName, "Details", new { slug = presentationHelper.Slugify(item.Slug) })
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RegionName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RegionSummary)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RegionDescription)
        </td>
        <td>
        @{

            if (ViewContext.HttpContext.User.IsInRole("canEditAll"))
            {
                @Html.ActionLink("Edit", "Edit", new { id=item.ID })
                @: |
                @Html.ActionLink("Delete", "Delete", new { id=item.ID })
            }
        }
                </td>
            </tr>
       
    }
}
</table>
