﻿@model List<HotelManager.Models.Accommodation>

@{
    ViewBag.Title = "Initialise";
}

<h2>Initialise</h2>

@{
    foreach(var item in Model)
    {
        @item.SletohHotel 
        @: : 
    @item.PageSlug
    <br />
    }
}

<h2>@Model.Count</h2>

