﻿@model List<HotelManager.Models.Providers.ExpediaHotel>

@{
    ViewBag.Title = "MatchExpedia";
}

<h2>MatchExpedia</h2>

@{
    foreach (var item in Model)
    {
        @item.ProviderHotelID
        @: : 
        @item.HotelName
        <br />
    }
}

