﻿@model HotelManager.Models.Accommodation

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Accommodation</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Town.Slug)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Town.Slug)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Slug)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Slug)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AddressStreet)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AddressStreet)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AddressTown)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AddressTown)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AddressPostcode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AddressPostcode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TownSlug)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TownSlug)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TownName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TownName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Latitude)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Latitude)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Longitude)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Longitude)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StarRating)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StarRating)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Summary)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Summary)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Desctiption)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Desctiption)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.mainThumbnail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mainThumbnail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.mainImage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mainImage)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sletohLink)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sletohLink)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.show)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.show)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.flag_for_review)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.flag_for_review)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SletohHotel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SletohHotel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ExpediaHotel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExpediaHotel)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
