﻿@model HotelManager.ViewModels.vmAccommodationDetail
@using HotelManager.DAL
@using HotelManager.Models
@using HotelManager.Helpers

@{
    ViewBag.Title = "Details";
}




<div class="t-Item">
    
    <div class="m-ItemInfo u-cf">
        @{
            if (Model.Accommodation.IsClosed)
            {
                @:<span class="ItemInfo-attribute">CLOSED</span>
                    }
        }

        <h2 class="ItemInfo-name">@Model.Accommodation.AccommodationName</h2>
        <div class="ItemInfo-attributes">
            @{
                if (Model.Accommodation.FlaggedForReview) { 
                    @:<span class="ItemInfo-attribute">Flagged</span> 
                    }
            }

            @{
                @:<span class="ItemInfo-attribute">
                    if (Model.Accommodation.Published)
                    {
                        @:Published
                    }
                    else
                    {
                        @:Unpublished
                    }
                @:</span>
            }

        </div>
        
    </div>

    <div class="m-ItemActions u-cf">
        <span class="ItemAction-edit Button">
            @{
                if (ViewContext.HttpContext.User.IsInRole("canEditAll"))
                {
                    @Html.ActionLink("Edit", "Edit", new { id = Model.Accommodation.ID }, new { @class = "Button-target" })
                }
            }
        </span>
        <div class="ItemAction-tasks Button">

            @Html.ActionLink("New Task", "Create", "AccommodationTasks", new { accommodationID = Model.Accommodation.ID }, new { @class = "Button-target" })

            @{
                if (Model.Accommodation.Tasks.Count > 0)
                {
                    <ul>
                        @{
                    foreach (var item in Model.Accommodation.Tasks)
                    {
                        <li>@Html.ActionLink(item.Title, "Details", "AccommodationTasks", new { id = item.ID }, null)</li>
                    }
                        }
                    </ul>
                }

            }
        </div>
    </div>



    <div class="m-ItemDetails">
        <div class="ItemDetailList">
            <h3 class="ItemDetailList-heading"></h3>
            <dl class="ItemDetailList-list u-cf">
                <dt class="ItemDetailList-itemName">@Html.DisplayNameFor(model => model.Accommodation.ID)</dt>
                <dd class="ItemDetailList-itemValue">@Html.DisplayFor(model => model.Accommodation.ID)</dd>
                <dt class="ItemDetailList-itemName">@Html.DisplayNameFor(model => model.Accommodation.PageSlug)</dt>
                <dd class="ItemDetailList-itemValue">@Html.DisplayFor(model => model.Accommodation.PageSlug)</dd>

                <dt class="ItemDetailList-itemName">@Html.DisplayNameFor(model => model.Accommodation.AddressLine1)</dt>
                <dd class="ItemDetailList-itemValue">@Html.DisplayFor(model => model.Accommodation.AddressLine1)</dd>
                <dt class="ItemDetailList-itemName">@Html.DisplayNameFor(model => model.Accommodation.AddressLine2)</dt>
                <dd class="ItemDetailList-itemValue">@Html.DisplayFor(model => model.Accommodation.AddressLine2)</dd>
                <dt class="ItemDetailList-itemName">@Html.DisplayNameFor(model => model.Accommodation.TownName)</dt>
                <dd class="ItemDetailList-itemValue">@Html.DisplayFor(model => model.Accommodation.TownName)</dd>
                <dt class="ItemDetailList-itemName">@Html.DisplayNameFor(model => model.Accommodation.PostalCode)</dt>
                <dd class="ItemDetailList-itemValue">@Html.DisplayFor(model => model.Accommodation.PostalCode)</dd>
            </dl>
        </div>
        

        <div class="ItemDetailList">
            <h3 class="ItemDetailList-heading"></h3>
            <dl class="ItemDetailList-list u-cf">
                <dt class="ItemDetailList-itemName">@Html.DisplayNameFor(model => model.Accommodation.AccommodationSummary)</dt>
                <dd class="ItemDetailList-itemValue">@Html.DisplayFor(model => model.Accommodation.AccommodationSummary)</dd>
                <dt class="ItemDetailList-itemName">@Html.DisplayNameFor(model => model.Accommodation.AccommodationDescription)</dt>
                <dd class="ItemDetailList-itemValue">@Html.DisplayFor(model => model.Accommodation.AccommodationDescription)</dd>
                <dt class="ItemDetailList-itemName">@Html.DisplayNameFor(model => model.Accommodation.AccommodationWebsite)</dt>
                <dd class="ItemDetailList-itemValue">@Html.DisplayFor(model => model.Accommodation.AccommodationWebsite)</dd>
                <dt class="ItemDetailList-itemName">@Html.DisplayNameFor(model => model.Accommodation.AccommodationFacebookLink)</dt>
                <dd class="ItemDetailList-itemValue">@Html.DisplayFor(model => model.Accommodation.AccommodationFacebookLink)</dd>
                <dt class="ItemDetailList-itemName">@Html.DisplayNameFor(model => model.Accommodation.AccommodationTwitterLink)</dt>
                <dd class="ItemDetailList-itemValue">@Html.DisplayFor(model => model.Accommodation.AccommodationTwitterLink)</dd>
                <dt class="ItemDetailList-itemName">@Html.DisplayNameFor(model => model.Accommodation.AccommodationContactEmail)</dt>
                <dd class="ItemDetailList-itemValue">@Html.DisplayFor(model => model.Accommodation.AccommodationContactEmail)</dd>
            </dl>
        </div>
        

        <div class="ItemDetailList">
            <h3 class="ItemDetailList-heading"></h3>
            <dl class="ItemDetailList-list u-cf">
                <dt class="ItemDetailList-itemName">@Html.DisplayNameFor(model => model.Accommodation.StarRating)</dt>
                <dd class="ItemDetailList-itemValue">@Html.DisplayFor(model => model.Accommodation.StarRating)</dd>
                <dt class="ItemDetailList-itemName">@Html.DisplayNameFor(model => model.Accommodation.Latitude)</dt>
                <dd class="ItemDetailList-itemValue">@Html.DisplayFor(model => model.Accommodation.Latitude)</dd>
                <dt class="ItemDetailList-itemName">@Html.DisplayNameFor(model => model.Accommodation.Longitude)</dt>
                <dd class="ItemDetailList-itemValue">@Html.DisplayFor(model => model.Accommodation.Longitude)</dd>
                <dt class="ItemDetailList-itemName">@Html.DisplayNameFor(model => model.Accommodation.NearestAirportCode)</dt>
                <dd class="ItemDetailList-itemValue">@Html.DisplayFor(model => model.Accommodation.NearestAirportCode)</dd>
                <dt class="ItemDetailList-itemName">@Html.DisplayNameFor(model => model.Accommodation.ParentChainID)</dt>
                <dd class="ItemDetailList-itemValue">@Html.DisplayFor(model => model.Accommodation.ParentChainID)</dd>
                <dt class="ItemDetailList-itemName">@Html.DisplayNameFor(model => model.Accommodation.HighRate)</dt>
                <dd class="ItemDetailList-itemValue">@Html.DisplayFor(model => model.Accommodation.HighRate)</dd>
                <dt class="ItemDetailList-itemName">@Html.DisplayNameFor(model => model.Accommodation.LowRate)</dt>
                <dd class="ItemDetailList-itemValue">@Html.DisplayFor(model => model.Accommodation.LowRate)</dd>
                <dt class="ItemDetailList-itemName">@Html.DisplayNameFor(model => model.Accommodation.CheckInTime)</dt>
                <dd class="ItemDetailList-itemValue">@Html.DisplayFor(model => model.Accommodation.CheckInTime)</dd>
                <dt class="ItemDetailList-itemName">@Html.DisplayNameFor(model => model.Accommodation.CheckOutTime)</dt>
                <dd class="ItemDetailList-itemValue">@Html.DisplayFor(model => model.Accommodation.CheckOutTime)</dd>
            </dl>
        </div>
        

        <div class="ItemDetailList">
            <h3 class="ItemDetailList-heading"></h3>
            <dl class="ItemDetailList-list u-cf">
                <dt class="ItemDetailList-itemName">@Html.DisplayNameFor(model => model.Accommodation.GooglePlacesID)</dt>
                <dd class="ItemDetailList-itemValue">@Html.DisplayFor(model => model.Accommodation.GooglePlacesID)</dd>
                <dt class="ItemDetailList-itemName">@Html.DisplayNameFor(model => model.Accommodation.SletohHotel)</dt>
                <dd class="ItemDetailList-itemValue">@Html.DisplayFor(model => model.Accommodation.SletohHotel)</dd>
                <dt class="ItemDetailList-itemName">@Html.DisplayNameFor(model => model.Accommodation.SletohUrl)</dt>
                <dd class="ItemDetailList-itemValue">@Html.DisplayFor(model => model.Accommodation.SletohUrl)</dd>
                <dt class="ItemDetailList-itemName">@Html.DisplayNameFor(model => model.Accommodation.ExpediaHotel)</dt>
                <dd class="ItemDetailList-itemValue">@Html.DisplayFor(model => model.Accommodation.ExpediaHotel)</dd>
                <dt class="ItemDetailList-itemName">@Html.DisplayNameFor(model => model.Accommodation.ExpediaUrl)</dt>
                <dd class="ItemDetailList-itemValue">@Html.DisplayFor(model => model.Accommodation.ExpediaUrl)</dd>
            </dl>
        </div>
        

        <div class="ItemDetailList">
            <h3 class="ItemDetailList-heading"></h3>
            <dl class="ItemDetailList-list u-cf">
                <dt class="ItemDetailList-itemName">@Html.DisplayNameFor(model => model.Accommodation.redirectToID)</dt>
                <dd class="ItemDetailList-itemValue">@Html.DisplayFor(model => model.Accommodation.redirectToID)</dd>
                <dt class="ItemDetailList-itemName">@Html.DisplayNameFor(model => model.Accommodation.TownID)</dt>
                <dd class="ItemDetailList-itemValue">@Html.DisplayFor(model => model.Accommodation.TownID)</dd>

            </dl>
        </div>
        

        @{
            if (Model.Accommodation.Facilities.Count > 0)
            {
                <h4>Facilities</h4>
                foreach (var facility in Model.Accommodation.Facilities)
                {
                    @facility.FacilityName <br />
                }
            }
        }

        @{
            if (Model.Accommodation.Websites.Count > 0)
            {
                <h4>Websites</h4>
                foreach (var website in Model.Accommodation.Websites)
                {
                    @website.WebsiteName <br />
                }
            }
        }
    </div>

    

</div>





<div>
    

    <h4>Details</h4>
    

        

        
        <hr />
        

        <hr />
        <h4>Providers</h4>
        <h5>Sletoh</h5>
    @{
        if (Model.SletohHotel != null)
        {
            Html.RenderPartial("~/Views/Partials/Providers/ProviderHotelDetails.cshtml", Model.SletohHotel);
        }
}
    
        

        <h5>Expedia</h5>
        @{
            if (Model.ExpediaHotel != null)
            {
                Html.RenderPartial("~/Views/Partials/Providers/ProviderHotelDetails.cshtml", Model.ExpediaHotel);
                @*<dl class="dl-horizontal">
                            <dt>Name</dt>
                            <dd>@Model.ExpediaHotel.HotelName</dd>
                            <dt>Address</dt>
                            <dd>@Model.ExpediaHotel.AddressLine1</dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.Accommodation.ExpediaHotel)
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.Accommodation.ExpediaHotel)
                            </dd>
                    </dl>*@
            }
            else
            {
                HotelManagerContext context = new HotelManagerContext();
                var expediaHotels = new List<HotelManager.Models.Providers.ExpediaHotel>();


                foreach (var item in context.ExpediaHotels.Where(a => a.PostalCode == Model.Accommodation.PostalCode))
                {
                    expediaHotels.Add(item);

                }

                if (expediaHotels.Count > 0)
                {
                    <p>Possible matches (based on Post code)</p>
                    <ul>
                        @foreach (var item in expediaHotels)
                        {
                            <li>
                                @ImportHelpers.StringDistance(Model.Accommodation.AccommodationName, item.HotelName)
                                :
                                @item.HotelName
                                :
                                @item.AddressLine1
                                ,
                                @item.TownName
                                ,
                                @item.PostalCode
                                ,
                                @item.Latitude
                                ,
                                @item.Longitude
                            </li>
                        }
                    </ul>
                }
                else
                {
                    <p>No possible matches found</p>
                }


            }
        }


</div>
<hr />

