﻿@model HotelManager.Models.Accommodation
@using HotelManager.ViewModels
@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Accommodation</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        
        @*ID*@
        @Html.HiddenFor(model => model.ID)

        @*PageSlug*@
        <div class="form-group">
            @Html.LabelFor(model => model.PageSlug, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PageSlug, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PageSlug, "", new { @class = "text-danger" })
            </div>
        </div>

        @*AccommodationName*@
        <div class="form-group">
            @Html.LabelFor(model => model.AccommodationName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.AccommodationName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.AccommodationName, "", new { @class = "text-danger" })
            </div>
        </div>

        @*AddressLine1*@
        <div class="form-group">
            @Html.LabelFor(model => model.AddressLine1, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.AddressLine1, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.AddressLine1, "", new { @class = "text-danger" })
            </div>
        </div>

        @*AddressLine2*@
        <div class="form-group">
            @Html.LabelFor(model => model.AddressLine2, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.AddressLine2, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.AddressLine2, "", new { @class = "text-danger" })
            </div>
        </div>

        @*TownName*@
        <div class="form-group">
            @Html.LabelFor(model => model.TownName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TownName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.TownName, "", new { @class = "text-danger" })
            </div>
        </div>

        @*PostalCode*@
        <div class="form-group">
            @Html.LabelFor(model => model.PostalCode, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PostalCode, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PostalCode, "", new { @class = "text-danger" })
            </div>
        </div>

        @*Latitude*@
        <div class="form-group">
            @Html.LabelFor(model => model.Latitude, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Latitude, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Latitude, "", new { @class = "text-danger" })
            </div>
        </div>

        @*Longitude*@
        <div class="form-group">
            @Html.LabelFor(model => model.Longitude, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Longitude, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Longitude, "", new { @class = "text-danger" })
            </div>
        </div>

        @*StarRating*@
        <div class="form-group">
            @Html.LabelFor(model => model.StarRating, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.StarRating, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.StarRating, "", new { @class = "text-danger" })
            </div>
        </div>

        @*AccommodationSummary*@
        <div class="form-group">
            @Html.LabelFor(model => model.AccommodationSummary, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.AccommodationSummary, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.AccommodationSummary, "", new { @class = "text-danger" })
            </div>
        </div>

        @*AccommodationDescription*@
        <div class="form-group">
            @Html.LabelFor(model => model.AccommodationDescription, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.AccommodationDescription, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.AccommodationDescription, "", new { @class = "text-danger" })
            </div>
        </div>

        @*NearestAirportCode*@

        @*ParentChainID*@

        @*HighRate*@

        @*LowRate*@

        @*CheckInTime*@

        @*CheckOutTime*@

        @*SletohUrl*@
        <div class="form-group">
            @Html.LabelFor(model => model.SletohUrl, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.SletohUrl, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.SletohUrl, "", new { @class = "text-danger" })
            </div>
        </div>

        @*ExpediaUrl*@

        @*Published*@
        <div class="form-group">
            @Html.LabelFor(model => model.Published, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.Published)
                    @Html.ValidationMessageFor(model => model.Published, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        @*FlaggedForReview*@
        <div class="form-group">
            @Html.LabelFor(model => model.FlaggedForReview, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.FlaggedForReview)
                    @Html.ValidationMessageFor(model => model.FlaggedForReview, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        @*IsClosed*@
        <div class="form-group">
            @Html.LabelFor(model => model.IsClosed, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.IsClosed)
                    @Html.ValidationMessageFor(model => model.IsClosed, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        @*redirectToID*@

        @*AccommodationWebsite*@
        <div class="form-group">
            @Html.LabelFor(model => model.AccommodationWebsite, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.AccommodationWebsite, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.AccommodationWebsite, "", new { @class = "text-danger" })
            </div>
        </div>

        @*AccommodationFacebookLink*@
        <div class="form-group">
            @Html.LabelFor(model => model.AccommodationFacebookLink, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.AccommodationFacebookLink, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.AccommodationFacebookLink, "", new { @class = "text-danger" })
            </div>
        </div>

        @*AccommodationTwitterLink*@
        <div class="form-group">
            @Html.LabelFor(model => model.AccommodationTwitterLink, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.AccommodationTwitterLink, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.AccommodationTwitterLink, "", new { @class = "text-danger" })
            </div>
        </div>

        @*AccommodationContactEmail*@
        <div class="form-group">
            @Html.LabelFor(model => model.AccommodationContactEmail, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.AccommodationContactEmail, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.AccommodationContactEmail, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TownID, "TownID", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("TownID", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.TownID, "", new { @class = "text-danger" })
            </div>
        </div>


        @*GooglePlacesID*@
        <div class="form-group">
            @Html.LabelFor(model => model.GooglePlacesID, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.GooglePlacesID, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.GooglePlacesID, "", new { @class = "text-danger" })
            </div>
        </div>

        @Html.HiddenFor(model => model.SletohHotel)
        @Html.HiddenFor(model => model.ExpediaHotel)


        <div class="form-group">
            <ul>
                @{
                List<vmAssignedFacility> facilities = ViewBag.Facilities;

                foreach (var facility in facilities)
                {
                    @:<li>
                        <input type="checkbox"
                               name="selectedFacilities"
                               value="@facility.FacilityID"
                               @(Html.Raw(facility.Assigned ? "checked=\"checked\"" : "")) />
                        @facility.FacilityID @:  @facility.FacilityName
                   @: </li>
                }
                }
            </ul>
        </div>

        <div class="form-group">
            <ul>
                @{
                List<vmAssignedWebsite> websites = ViewBag.Websites;

                foreach (var website in websites)
                {
                    @: <li>
                        <input type="checkbox"
                               name="selectedWebsites"
                               value="@website.WebsiteID"
                               @(Html.Raw(website.Assigned ? "checked=\"checked\"" : "")) />
                        @website.WebsiteID @:  @website.WebsiteName
                        @: </li>
                }
                }
            </ul>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>


@*
    

    <div class="form-group">
        @Html.LabelFor(model => model.TownSlug, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.TownSlug, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.TownSlug, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.TownName, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.TownName, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.TownName, "", new { @class = "text-danger" })
        </div>
    </div>


    <div class="form-group">
        @Html.LabelFor(model => model.SletohHotel, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.SletohHotel, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.SletohHotel, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.ExpediaHotel, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.ExpediaHotel, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.ExpediaHotel, "", new { @class = "text-danger" })
        </div>
    </div>
*@