﻿
@using HotelManager.Helpers;

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
@{
    if (ViewContext.HttpContext.User.IsInRole("canEditAll"))
    {
        @Html.ActionLink("Create New", "Create")
    }
}
</p>
